account_id,api_token
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,cfut_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy,cfat_yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz,cfat_zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz